.intro__quote-text {
  max-width: 56.25vw;
  margin: 0 auto 1.25vw 10.93vw;
  padding: 0 1.25vw;
  font-size: 1.85vw;
  line-height: 2.65vw;
  text-align: left;
}

.intro__quote-author {
  display: block;
  margin-top: 0.625vw;
  font-size: 1.25vw;
  font-weight: 400;
  opacity: 0.8;
  text-align: right;
}

.intro__text {
  max-width: 56.25vw;
  margin: 0 auto 6.25vw 10.93vw;
  padding: 0 1.25vw;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
}

@media (max-width: 1024px) {
  .intro__quote-text {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 544px) {
  .intro__quote-text {
    font-size: 18px;
    line-height: 26px;
  }
}
